@model Radiostation.DAL.Entities.Translation

@{ ViewData["Title"] = "Редактирование"; }

<div class="container">
    <h1>Обновить</h1>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Update" asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control"/>
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" value="@DateTime.Now.ToString("d")" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <select asp-for="EmployeeId" class="form-control">
                        @foreach (var employee in ViewBag.Employees)
                        {
                            <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TrackId" class="control-label"></label>
                    <select asp-for="TrackId" class="form-control">
                        @foreach (var track in ViewBag.Tracks)
                        {
                            <option value="@track.Id">@track.Name (@track.Duration)</option>
                        }
                    </select>
                    <span asp-validation-for="TrackId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}